{% extends "main.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="container">
        <form enctype="multipart/form-data" action="/get_img" method="get" role="form">
            <label for="title">Enter film title </label>
            <input type="text"  name="title" id="title" class="form-control">
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% end %}
</body>
</html>