{% extends "main.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="container">
    {% if films is None %}
        <p> Hmmm. Looks like history is empty. Try to search some film <p/>
    {% else %}
            {% for film in films %}
            {% module Film(film) %}
        {% end %}
    {% end %}
</div>
{% end %}

</body>
</html>




