<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Main Page</title>
    {% block css %}
    <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}">
    {% end %}
</head>
<body>
{% block header %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Some Simple Project</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/"> Get image from  API </a></li>
            <li><a href="/get_history">Show History</a></li>
        </ul>
    </div>
</nav>
{% end %}
{% block content %}

{% end %}
</body>
</html>