{% extends "main.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="container">
    {% if film_info is None%}
    <h2> Looks like - there is no film with such title in OMDB base</h2>
    {% else %}
    <h2> {{ film_info['title'] }} </h2>
    <img class="img-responsive" src="{{ film_info['img'] }}" width="460" height="345">
    {% end %}
</div>
{% end %}
</body>
</html>